.section.faq
    .container.faq__container
        .faq__text

            p.faq__pre-title(class=leftAni) Start your journey!
            h2.title.faq__title(class=leftAni) How to Get My Room?
            p.pgh.faq__pgh(class=leftAni) You can contact us by phone or email us. Easily tap the contact button below and it will take you to our contact point
            .faq__btn-row(class=leftAni)
                a.btn.faq__btn Contact us
                a.faq__link(href="") Explore more room

        .questions.faq__questions

            .question(class=rightAni)
                .question__preview
                    p.question__title Choose a room and date
                    button.question__btn
                        include ../../img/icons/square-arrow_down.svg
                p.question__text
                    | Contact us via phone or email, ask for availability of you choice of room. We might offer you something exciting.
            
            .question(class=rightAni)
                .question__preview
                    p.question__title Check for room availability
                    button.question__btn
                        include ../../img/icons/square-arrow_down.svg
                p.question__text
                    | Contact us via phone or email, ask for availability of you choice of room. We might offer you something exciting.
            
            .question(class=rightAni)
                .question__preview
                    p.question__title Enjoy your room
                    button.question__btn
                        include ../../img/icons/square-arrow_down.svg
                p.question__text
                    | Contact us via phone or email, ask for availability of you choice of room. We might offer you something exciting.