footer.footer
    .container.footer__container
        .footer-info
            a.logo.logo_white.footer-info__logo(href="" class=leftAni) Cootels
            
            p.footer-info__text(class=leftAni) Your Best Private Hideway From Crowd. Back to Nature.
            
            .footer-info__icons(class=leftAni)
                a.footer-info__icon(href="")
                    include ../../img/icons/twitter.svg
                a.footer-info__icon(href="")
                    include ../../img/icons/instagram-logo.svg
                a.footer-info__icon(href="")
                    include ../../img/icons/facebook.svg

        .footer-nav

            .footer-nav__block(class=bottomAni)
                h3.footer-nav__title Rooms
                ul.footer-nav__list
                    li.footer-nav__elem
                        a.footer-nav__link(href="") Single Room
                    li.footer-nav__elem
                        a.footer-nav__link(href="") Double Room
                    li.footer-nav__elem
                        a.footer-nav__link(href="") Cabin
                    li.footer-nav__elem
                        a.footer-nav__link(href="") Custom Room

            .footer-nav__block(class=bottomAni)
                h3.footer-nav__title Reservation
                ul.footer-nav__list
                    li.footer-nav__elem
                        a.footer-nav__link(href="") See the Steps
                    li.footer-nav__elem
                        a.footer-nav__link(href="") Best Time
            
            .footer-nav__block(class=bottomAni)
                h3.footer-nav__title Contact
                ul.footer-nav__list
                    li.footer-nav__elem
                        a.footer-nav__link(href="") Our Number
                    li.footer-nav__elem
                        a.footer-nav__link(href="") Our Email
                    li.footer-nav__elem
                        a.footer-nav__link(href="") Our Location